/src/Test
/BlueJ/doc
/BlueJ/Test
/unused

log*.txt

*.ser
*.checkstyle
*.db
*.docx

# BlueJ
*.class
*.ctxt

# Eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

# IntelliJ
/out
/.idea
*.iml
*.ipr
*.iws
/atlassian-ide-plugin.xml
